/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    color: aqua;
    font-size: 18px;
    margin-top: 80px;
}

.navbar {
    /*fix navbar to the top*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(/img/bg-image-navy.jpg);
    background-size: cover;
}




.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: aquamarine;
    opacity: 0.90;
}

h4 {
    color: salmon;
    text-align: justify;
}



.img_max-width-700 {
    width: 100%;
    max-width: 700px;
}

.img_max-width-500 {
    max-width: 100%;
    max-width: 500px;
}

img {
    max-width: 100%;

}

#img_MVC0 {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    opacity: 0.9;
}

p {
    text-align: justify;
}

.half-size {
    width: 50%;
}

.nav-link {
    white-space: nowrap; /* adding to bootstrap */
    text-align: center;
}



.ul-check-mark {
    list-style: none;
    padding: 0;
}

.ul-check-mark li {
    padding-left: 1.3em;
}

    .ul-check-mark li:before {
        /* https://fontawesome.com/v5/cheatsheet */
        content: "\f00c"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        color: lightgreen;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
    }



li {
    text-align: justify;
}

li.dropdown {
    cursor: pointer;
    border: 1px solid lightgrey;
}



.dropdown-menu {
    min-width: unset; /* disabling bootstrap */
    width: 142%;
    /*padding-left: 0.5em;*/
}

    .dropdown-menu li {
        text-align: center;
    }


.button {
    background-color: darkslateblue;
    border-radius: 1px;
    padding: 5px;
    border: 1px solid lightgrey;
    color: white;
    cursor: pointer;
    /*white-space: nowrap;*/
    word-break:keep-all;
}

.whitespace_nowrap {
    white-space:nowrap;
}

    .button:hover {
        /*background-color: lightskyblue;*/
        color: blanchedalmond;
        background-color: cornflowerblue;
    }


@media only screen and (max-width:575px) {
    .dropdown-menu {
        width: 100%;
    }
}

pre {
    background-color: rgba(0,81,119,0.5);
    color: aquamarine;
    text-align: left;
}
code {
    color:   tan;
}

blockquote {
    border-color: var(--theme-border);
    border-style: solid;
    border-width: 0 0 0 3px;
    display: block;
    margin: 1.2em 0 2em;
    padding: 0 .8em;
}

.NOTE {
    background-color:  indianred;
    opacity: 0.9;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

.div-flex {
    display: flex;
    /*flex-direction: row;*/
    width:100%;
    opacity: 0.6;
}

.span-flex {
    flex-grow: 1 !important;
}
