@{
    ViewData["Title"] = "Controller Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->

<div class="container">
    <h2>Controller</h2>
    <img class="img_max-width-700" src="/img/MVC-controller.png" alt="MVC" title="MVC" />

    <h4>Controller responsibilities</h4>
    <p>Controllers are the components that handle user interaction, work with the model, and ultimately select a view to render. In an MVC application, the view only displays information; the controller handles and responds to user input and interaction. In the MVC pattern, the controller is the initial entry point, and is responsible for selecting which model types to work with and which view to render (hence its name - it controls how the app responds to a given request).</p>

</div>

