@{
    ViewData["Title"] = "View Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->

<div class="container">
    <h2>View</h2>
    <img class="img_max-width-700" src="/img/MVC-view.png" alt="MVC" title="MVC" />

    <h4>View responsibilities</h4>
    <p>Views are responsible for presenting content through the user interface. They use the Razor view engine to embed .NET code in HTML markup. There should be minimal logic within views, and any logic in them should relate to presenting content. If you find the need to perform a great deal of logic in view files in order to display data from a complex model, consider using a View Component, ViewModel, or view template to simplify the view.</p>
    <br />

</div>

